<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/onboarding"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header">
    <h1>Register</h1>
    <p>Create an account to explore more</p>
  </div>

  <form [formGroup]="registrationForm" (ngSubmit)="onSignUp()">
    <div class="form-field">
      <ion-img src="../../assets/profile.png"></ion-img>
      <ion-input formControlName="prenom" placeholder="Prename"></ion-input>
    </div>
    <div class="form-field">
      <ion-img src="../../assets/profile.png"></ion-img>
      <ion-input formControlName="nom" placeholder="Name"></ion-input>
    </div>
    <div class="form-field">
      <ion-img src="../../assets/email.png"></ion-img>
      <ion-input formControlName="email" placeholder="Email Address"></ion-input>
    </div>
    <div class="form-field">
      <ion-img src="../../assets/telephone.png"></ion-img>
      <ion-input formControlName="telephone" placeholder="Phone Number"></ion-input>
    </div>
    <div class="form-field">
      <ion-img src="../../assets/adress.png"></ion-img>
      <ion-input formControlName="adresse" placeholder="Address"></ion-input>
    </div>
    <div class="form-field">
      <ion-img src="../../assets/padlock.png"></ion-img>
      <ion-input formControlName="motDePasse" [type]="passwordType" placeholder="Password"></ion-input>
      <ion-icon name="{{ passwordIcon }}" slot="end" (click)="togglePasswordVisibility('password')"></ion-icon>
    </div>
    <div class="form-field">
      <ion-img src="../../assets/padlock.png"></ion-img>
      <ion-input formControlName="confirmPassword" [type]="confirmPasswordType" placeholder="Confirm Password"></ion-input>
      <ion-icon name="{{ confirmPasswordIcon }}" slot="end" (click)="togglePasswordVisibility('confirmPassword')"></ion-icon>
    </div>
    <div class="form-field">
      <ion-img src="../../assets/gallery.png"></ion-img>
      <ion-label>Upload Photo</ion-label>
      <input type="file" (change)="onFileChange($event)">
    </div>
    <ion-button type="submit" expand="block">Register</ion-button>
  </form>
</ion-content>
