<ion-content class="ion-padding" id="main-content">
  <div id="header" class="ion-margin-bottom">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    <div id="location">
      <ion-img src="../../assets/client.png"></ion-img>
      <h4 class="ion-no-margin">Clients
      </h4>
    </div>
    <div id="avatar">
      <ion-img [src]="photoUrl"></ion-img>
    </div>
  </div>
  <ion-grid>
    <!-- Clients Table -->
    <ion-row>
      <ion-col>
        <ion-card class="clients">
          <ion-card-header>
            <ion-card-title>Clients</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>{{clients.length}}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="clients">
          <ion-row>
            <ion-col size="8">
              <ion-card-header>
                <ion-card-title>Clients</ion-card-title>
              </ion-card-header>
            </ion-col>
            <ion-col size="4">
              <ion-searchbar [(ngModel)]="clientSearchTerm" (ionInput)="filterClients()"></ion-searchbar>
            </ion-col>
          </ion-row>
          <ion-card-content>
            <ng-container *ngIf="filteredClients.length > 0; else noClients">
              <app-reusable-table [data]="filteredClients" [columns]="clientColumns" [actions]="true" (delete)="onDeleteClient($event)" (edit)="onEditClient($event)"></app-reusable-table>
            </ng-container>
            <ng-template #noClients>
              <p>No clients found.</p>
            </ng-template>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
