<ion-header>
  <ion-toolbar>
    <ion-title>{{modalTitle}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="tirasseForm" (ngSubmit)="onAddOrUpdateTirasse()" style="padding: 50px 20px;">
    <div class="form-field">
      <ion-img src="../../assets/product-development.png"></ion-img>
      <ion-input formControlName="nom" type="text" placeholder="Name"></ion-input>
    </div>
    <ion-button type="submit" expand="block">{{buttonTitle}}</ion-button>
  </form>
</ion-content>
