.form-field {
    display: flex;
    align-items: center;
    background: #eee;
    height: 5.4vh;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 1rem;
  }
  
  ion-img {
    color: var(--ion-color-dark-tint);
    width: 1.3rem;
    margin-right: 10px;
  }
  
  ion-input {
    font-family: 'Gilroy';
  }
  